<a href="https://colab.research.google.com/github/darknet-doll/colab_error_logger/blob/main/Sample_Notebook_Impact_Logger.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Packages

In [1]:
# Import from package from error log package from github.
# Ensure error_logs.db is not in current runtime.
!pip install git+https://github.com/darknet-doll/colab_error_logger.git --upgrade
from colab_error_logger import start_logger
from colab_error_logger.airtable_sync import write_airtable, read_airtable

# Import python packagess.
import sqlite3, pandas as pd

# Credentials
from google.colab import userdata
AIRTABLE_TOKEN = userdata.get("AIRTABLE_TOKEN")
AIRTABLE_BASE_ID = userdata.get("AIRTABLE_BASE_ID")
TABLE_NAME = "Errors"

Collecting git+https://github.com/darknet-doll/colab_error_logger.git
  Cloning https://github.com/darknet-doll/colab_error_logger.git to /tmp/pip-req-build-9cb06_0g
  Running command git clone --filter=blob:none --quiet https://github.com/darknet-doll/colab_error_logger.git /tmp/pip-req-build-9cb06_0g
  Resolved https://github.com/darknet-doll/colab_error_logger.git to commit a9061339003d9cd56b2283e0ae12032645b943c7
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from colab_error_logger==0.2.0) (2.2.2)
Collecting pyairtable>=2.1.0 (from colab_error_logger==0.2.0)
  Downloading pyairtable-3.2.0-py2.py3-none-any.whl.metadata (4.6 kB)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas>=2.0.0->colab_error_logger==0.2.0) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas>=2.0.0->colab_error_logger==0.2.0) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=2.0.0->colab_error_logger==0.2.0) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=2.0.0->colab_error_logger==0.2.0) (2025.2)
Collecting inflection (from pyairtable>=2.1.0->colab_error_logger==0.2.0)
  Downloading inflection-0.5.1-py2.py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: pydantic<3,>=2 in /usr/local/lib/python3.12/dist-packages (from pyairtable>=2.1.0->colab_error_logger==0.2.0) (2.11.10)
Requirement already satisfied: requests>=2.22.0 in /usr/local/lib/python3.12/dist-packages (from pyairtable>=2.1.0->colab_error_logger==0.2.0) (2.32.4)
Requirement already satisfied: typing_extensions in /usr/local/lib/python3.12/dist-packages (from pyairtable>=2.1.0->colab_error_logger==0.2.0) (4.15.0)
Requirement already satisfied: urllib3>=1.26 in /usr/local/lib/python3.12/dist-packages (from pyairtable>=2.1.0->colab_error_logger==0.2.0) (2.5.0)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.12/dist-packages (from pydantic<3,>=2->pyairtable>=2.1.0->colab_error_logger==0.2.0) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in /usr/local/lib/python3.12/dist-packages (from pydantic<3,>=2->pyairtable>=2.1.0->colab_error_logger==0.2.0) (2.33.2)
Requirement already satisfied: typing-inspection>=0.4.0 in /usr/local/lib/python3.12/dist-packages (from pydantic<3,>=2->pyairtable>=2.1.0->colab_error_logger==0.2.0) (0.4.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas>=2.0.0->colab_error_logger==0.2.0) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests>=2.22.0->pyairtable>=2.1.0->colab_error_logger==0.2.0) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests>=2.22.0->pyairtable>=2.1.0->colab_error_logger==0.2.0) (3.11)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests>=2.22.0->pyairtable>=2.1.0->colab_error_logger==0.2.0) (2025.10.5)
Downloading pyairtable-3.2.0-py2.py3-none-any.whl (101 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 101.1/101.1 kB 2.4 MB/s eta 0:00:00
Downloading inflection-0.5.1-py2.py3-none-any.whl (9.5 kB)
Building wheels for collected packages: colab_error_logger
  Building wheel for colab_error_logger (setup.py) ... done
  Created wheel for colab_error_logger: filename=colab_error_logger-0.2.0-py3-none-any.whl size=3607 sha256=6e48238abc8ea504f0282d5d4082f14b3c00e52209684ffa9465e75a39c219e3
  Stored in directory: /tmp/pip-ephem-wheel-cache-wzmyt5p7/wheels/1a/bb/d9/a66a408312dddb5b69d09eab6010dbc8d61a09467fbab70fa2
Successfully built colab_error_logger
Installing collected packages: inflection, pyairtable, colab_error_logger
Successfully installed colab_error_logger-0.2.0 inflection-0.5.1 pyairtable-3.2.0

# Log Error

In [2]:
# Start logging errors by creating session_name field.
logger = start_logger("test_session")

In [3]:
# Testing errors.

1 / 0 # trigger an error.

# a = error_syntax # undefined variable cannot be assigned.

ZeroDivisionError: division by zero

In [10]:
# Reviewing errors logged in error_logs.db dataframe for this session in SQLlite.
session_log_df = pd.read_sql_query("SELECT * FROM errors", sqlite3.connect("error_logs.db"))
session_log_df

   id session_type  session_name         error_type        date
0   1       techie  test_session  ZeroDivisionError  2025-10-28

# Airtable Connection

In [11]:
# Write session_log_df to airtable.
write_airtable(session_log_df,
               airtable_token=AIRTABLE_TOKEN,
               base_id=AIRTABLE_BASE_ID
               )

✅ Upload to Airtable completed.

In [12]:
# Read records from table.
# Validate read from link https://airtable.com/app8lLddOSQt2Fhaz/shrAvfz8PwokANwqR/tblcNUsattIK0IKun.
df_from_airtable = read_airtable(airtable_token=AIRTABLE_TOKEN,
                   base_id=AIRTABLE_BASE_ID)
df_from_airtable.sort_values(by='count_id')

✅ Retrieved 37 records from Airtable.

    count_id        date        session_name         error_type session_type
24         1  2025-09-17                 NaN                NaN          NaN
25         2  2025-09-21                 NaN                NaN          NaN
7          3  2025-09-25                 NaN                NaN          NaN
2          4         NaN                 NaN                NaN          NaN
8          5  2025-10-27        test_session  ZeroDivisionError          NaN
32         6  2025-10-27        test_session          NameError          NaN
26         7  2025-10-27        test_session  ZeroDivisionError          NaN
11         8  2025-10-27        test_session   InvalidJSONError          NaN
1          9  2025-10-27        test_session          HTTPError          NaN
6         11  2025-10-27        test_session        SyntaxError          NaN
14        12  2025-10-27        test_session          HTTPError          NaN
15        13  2025-10-27        test_session     AttributeError          NaN
5         14  2025-10-27        test_session        SyntaxError          NaN
21        15  2025-10-27        test_session     AttributeError          NaN
28        16  2025-10-27        test_session          TypeError          NaN
10        17  2025-10-27        test_session           KeyError          NaN
22        18  2025-10-27        test_session     AttributeError          NaN
3         19  2025-10-27        test_session     AttributeError          NaN
4         20  2025-10-27        test_session   IndentationError          NaN
19        21  2025-10-27        test_session           KeyError          NaN
20        22  2025-10-27        test_session     AttributeError          NaN
0         23  2025-10-27        test_session          HTTPError          NaN
9         24  2025-10-27        test_session          HTTPError          NaN
16        25  2025-10-27        test_session           KeyError          NaN
35        26  2025-10-27        test_session           KeyError          NaN
36        27  2025-10-27        test_session           KeyError          NaN
33        28  2025-10-27        test_session  ZeroDivisionError          NaN
30        29  2025-10-27        test_session          NameError          NaN
34        30  2025-10-28  Colab_Test_Session  ZeroDivisionError          NaN
12        31  2025-10-28  Colab_Test_Session  ZeroDivisionError          NaN
23        32  2025-10-28  Colab_Test_Session  ZeroDivisionError          NaN
27        33  2025-10-28  Colab_Test_Session          NameError          NaN
31        34  2025-10-28        test_session          NameError          NaN
18        35  2025-10-28        test_session          NameError          NaN
29        36  2025-10-28        test_session  ZeroDivisionError          NaN
17        37  2025-10-28        test_session  ZeroDivisionError       techie
13        38  2025-10-28        test_session  ZeroDivisionError       techie